In [1]:
import crime as cr

cr.help()

Docs: https://pypi.org/project/crime/

DataFrame with info on all datasets:
>>> cr.sources()

Details on a dataset, and description of all columns
>>> cr.sources('dataset_name')

Quickly preview its first 5 rows
>>> cr.load('dataset_name')

Load full dataset
>>> cr.load('dataset_name', full=True)

Add a new source
>>> cr.add_source("some_nickname", "some_id", "base_url")

Revert to using the default sources
>>> cr.reset_sources()

In [11]:
cr.columns('crime_97_15')

,Name,Type,Null,Non_Null,Avg,Max,Min,Sum
agency_name,Agency Name,text,380,4951902,None,NaN,NaN,None
agency_type_name,Agency Type Name,text,380,4951902,None,NaN,NaN,None
city_name,City Name,text,939702,4012580,None,NaN,NaN,None
primary_county,Primary County,text,24938,4927344,None,NaN,NaN,None
incident_hour,Incident Hour,number,139976,4812306,None,23.0,0.0,None
offense_name,Offense Name,text,2376,4949906,None,NaN,NaN,None
crime_against,Crime Against,text,2376,4949906,None,NaN,NaN,None
offense_category_name,Offense Category Name,text,2585,4949697,None,NaN,NaN,None
age_num,Age Num,number,2337245,2615037,None,98.0,1.0,None
incident_date,Incident Date,calendar_date,2756,4949526,None,NaN,NaN,None